.reviews {
  height: 320px;
  background-color: #f8f5f2;
  color: #000000;
}

.reviews__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 30px;
  box-sizing: border-box;
}

.reviews__title {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.reviews__write {
  display: none;
}

.reviews__item {
  width: 280px;
  margin: 35px 0 0;
}

.reviews__auhor-foto {
  margin-right: 20px;
  float: left;
}

.reviews__auhor-name {
  font-style: normal;
  font-weight: bold;
}

.reviews__item p {
  margin-top: 15px;
  padding-left: 70px;
}

.reviews__prev,
.reviews__next {
  display: none;
}

@media (min-width: 768px) {
  .reviews__wrapper {
    width: 640px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .reviews__write {
    display: initial;
    width: 160px;
    margin-left: auto;
    align-self: flex-end;
    margin-bottom: 35px;
  }
  .reviews__items {
    display: flex;
  }
  .reviews__item {
    margin: 0;
    padding: 35px;
  }
  .reviews__title {
    font-size: 40px;
    line-height: 40px;
    width: 40%;
    margin-right: auto;
  }
  .reviews__prev,
  .reviews__next {
    box-sizing: border-box;
    display: inline-block;
    font-size: 0;
    height: 160px;
    width: 50px;
    position: relative;
    background-color: #f8f5f2;
    border: 1px solid #e5ddd5;
  }
  .reviews__item {
    padding: 30px 10px 0 30px;
    width: 100%;
    order: 2;
    border: 1px solid #e5ddd5;
  }
  .reviews__prev {
    order: 1;
  }
  .reviews__next {
    order: 3;
  }
  .reviews__toggles {
    order: 4;
  }
  .reviews__auhor-foto {
    margin: 0;
  }
  .reviews__auhor-foto img {
    margin-right: 30px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
}

@media (min-width: 1200px) {
  .reviews__wrapper {
    width: 960px;
  }
  .reviews__item {
    padding: 0;
    margin: 0 20px;
  }
  .reviews__auhor-foto img {
    background: url(../img/pic-travis-desktop.jpg) no-repeat;
    display: block;
    max-width: 249px;
    max-height: 160px;
    border-radius: 0;
    width: auto;
    height: auto;
  }
}
