body {
  color: #fff;
  font-size: 20px;
  line-height: 27px;
  font-family: 'PT Sans Narrow', sans-serif; }

.main-header {
  background-color: #242424;
  min-width: 320px;
  min-height: 200px; }

.page-header {
  min-height: 395px;
  min-width: 320px; }

.page-header--logo {
  padding: 21px 0;
  min-height: 85px;
  text-align: center; }

.page-header--logo img {
  padding: 21px 0;
  width: 320px;
  height: 43px; }

.main-nav {
  background-color: #826550;
  min-height: 50px;
  color: #fff;
  position: relative; }

.main-nav__items {
  list-style: none;
  margin: 0;
  padding: 0; }

.main-nav__item {
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 60px; }
  .main-nav__item--active {
    text-align: center; }

.main-nav__item a {
  padding: 18px 70px 18px 18px;
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase; }

.main-nav__user-items {
  list-style: none;
  background-color: #6a4d38;
  margin: 0;
  padding: 0;
  min-height: 200px; }

.main-nav__user-item {
  padding: 0;
  margin: 0;
  min-height: 40px; }

.main-nav__user-item a {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-decoration: none; }

.main-nav__user-login {
  padding: 20px 0;
  padding-left: 45px;
  position: relative; }
  .main-nav__user-login::before {
    top: 20px;
    left: 15px;
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url(/img/login.png); }

.main-nav__toggle {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 70px;
  height: 50px;
  border: none;
  background-color: #6a4d38;
  font-size: 0; }

.stats {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 320px;
  height: 500px;
  background-color: green; }

.stats__header {
  color: #000;
  background-color: #fff;
  font-size: 18px;
  line-height: 24px;
  padding: 32px 0; }

.stats__slogan {
  margin: 0 65px;
  font-size: 30px;
  line-height: 30px;
  display: block;
  text-align: center;
  margin: 0 auto 25px;
  text-transform: uppercase; }

@media (max-width: 640px) {
  .stats-legend--top {
    display: none; } }

.stats__intro {
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  margin: 0 40px; }
