.page-header--logo {
  min-width: 320px;
}
@media (max-width: 767px) {
  .main-header .page-header--logo {
    padding: 21px 0;
    min-height: 85px;
    text-align: center;
    order: 1;
  }
  .page-header--logo img {
    padding-top: 21px;
    width: 320px;
    height: 43px;
  }
}

@media (min-width: 768px) {
  .page-header--logo {
    box-sizing: border-box;
    height: 400px;
    order: 2;
    background: url(../img/background-tablet.jpg) no-repeat 0 -55px;
    background-size: cover;
  }
  .page-header--logo img{
    display: block;
    content: url(../img/logotype-tablet.svg);
    margin: 0 auto;
    margin-top: 42px;
    width: 370px;
    height: 101px;
  }
}
