.page-header--logo {
  box-sizing: border-box;
  padding-top: 21px;
  min-width: 320px;
}
@media (max-width: 767px) {
  .main-header .page-header--logo {
    height: 85px;
    text-align: center;
    order: 1;
  }
  .page-header--logo img {
    width: 320px;
    height: 43px;
  }
}

@media (min-width: 768px) {
  .page-header--logo {
    padding-top: 0;
    box-sizing: border-box;
    height: 400px;
    order: 2;
    background: url(../img/background-tablet.jpg) no-repeat 0 -55px;
    background-size: cover;
  }
  .page-header--logo img{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 370px;
    height: 101px;
  }
  @media (min-width: 1200px) {
    .page-header--logo img{
      width: 370px;
      height: 153px;
    }
  }
}
