.page-header__logo {
  box-sizing: border-box;
  padding-top: 21px;
  min-width: 320px;
}
@media (max-width: 767px) {
  .page-header__logo {
    height: 85px;
    text-align: center;
    order: 1;
  }
  .page-header__logo img {
    background: url(../img/logotype-mobile.svg) no-repeat;
    width: 320px;
    height: 43px;
  }
}

@media (min-width: 768px) {
  .page-header__logo {
    padding-top: 0;
    box-sizing: border-box;
    height: 400px;
    order: 2;
    background: url(../img/background-tablet.jpg) no-repeat 0 -55px;
    background-size: cover;
    &--inner {
      height: 215px;
    }
  }
  .page-header__logo img{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 370px;
    height: 101px;
  }
  @media (min-width: 1200px) {
    .page-header__logo {
      height: 650px;
      &--inner {
        height: 380px;
      }
    }
    .page-header__logo img{
      margin-top: 60px;
      background: url(../img/logotype-desktop.svg) no-repeat;
      width: 370px;
      height: 153px;
    }
  }
}
