.reviews {
  height: 320px;
  box-sizing: border-box;
  background-color: #f8f5f2;
  color: #000;
}
.reviews__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 30px;
  box-sizing: border-box;
}
.reviews__title {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}
.reviews__write {
  display: none;
}
.reviews__item {
  width: 280px;
  margin: 35px 0 0;

}
.reviews__auhor-foto {
  margin-right: 20px;
  float: left;
}
.reviews__auhor-name {
  font-style: normal;
  font-weight: bold;
}
.reviews__item p {
  margin-top: 15px;
  padding-left: 70px;
}
.reviews__prev, .reviews__next {
  display: none;
}

@media (min-width: 768px) {
  .reviews {
    height: 355px;
  }
  .reviews__wrapper {
    padding-top: 37px;
    width: 640px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .reviews__write {
    display: inline-block;
    width: 160px;
    margin-left: auto;
    align-self: flex-end;
    margin-bottom: 37px;
  }
  .reviews__items {
    display: flex;
  }
  .reviews__item {
    margin: 0;
    padding: 35px;
  }
  .reviews__title {
    text-align: left;
    font-size: 40px;
    line-height: 40px;
    width: 40%;
    margin-right: auto;
  }
  .reviews__prev, .reviews__next {
    box-sizing: border-box;
    display: inline-block;
    font-size: 0;
    height: 160px;
    width: 50px;
    position: relative;
    border: 1px solid #e5ddd5;
    background-color: #f8f5f2;
  }
  .reviews__prev {
    background: url(../img/slider-left-arrow.svg) no-repeat center center;
  }
  .reviews__next {
    background: url(../img/slider-right-arrow.svg) no-repeat center center;
  }
  .reviews__item {
    box-sizing: border-box;
    padding: 30px 10px 0px 30px;
    height: 160px;
    width: 100%;
    order: 2;
    border: 1px solid #e5ddd5;
  }
  .reviews__prev {
    order: 1;
  }
  .reviews__next {
    order: 3;
  }
  .reviews__toggles {
    order: 4;
  }
  .reviews__auhor-foto {
    margin: 0;
  }
  .reviews__auhor-foto img{
    border-radius: 50%;
  }
}
@media (min-width: 1200px) {
  .reviews__wrapper {
    width: 960px;
  }
  .reviews__item {
    padding: 0;
    margin: 0 20px;
    width: 817px;
    height: 160px;
    box-sizing: border-box;
  }
  .reviews__item p {
    padding: 0;
    padding-right: 70px;
    margin: 0;
  }

  .reviews__auhor-name {
    display: inline-block;
    padding-top: 30px;
    font-size: 24px;
  }
  .reviews__auhor-foto {
    box-sizing: border-box;
    height: 160px;
    margin-right: 65px;
  }
  .reviews__auhor-foto img {
    border-radius: 0;
  }
}