// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$clock-desktop-name: 'clock-desktop';
$clock-desktop-x: 0px;
$clock-desktop-y: 556px;
$clock-desktop-offset-x: 0px;
$clock-desktop-offset-y: -556px;
$clock-desktop-width: 142px;
$clock-desktop-height: 139px;
$clock-desktop-total-width: 142px;
$clock-desktop-total-height: 24535px;
$clock-desktop-image: '../img/icons/sprite.png';
$clock-desktop: (0px, 556px, 0px, -556px, 142px, 139px, 142px, 24535px, '../img/icons/sprite.png', 'clock-desktop', );
$clock-name: 'clock';
$clock-x: 0px;
$clock-y: 449px;
$clock-offset-x: 0px;
$clock-offset-y: -449px;
$clock-width: 58px;
$clock-height: 57px;
$clock-total-width: 142px;
$clock-total-height: 24535px;
$clock-image: '../img/icons/sprite.png';
$clock: (0px, 449px, 0px, -449px, 58px, 57px, 142px, 24535px, '../img/icons/sprite.png', 'clock', );
$facebook-icon-big-name: 'facebook-icon-big';
$facebook-icon-big-x: 0px;
$facebook-icon-big-y: 360px;
$facebook-icon-big-offset-x: 0px;
$facebook-icon-big-offset-y: -360px;
$facebook-icon-big-width: 18px;
$facebook-icon-big-height: 39px;
$facebook-icon-big-total-width: 142px;
$facebook-icon-big-total-height: 24535px;
$facebook-icon-big-image: '../img/icons/sprite.png';
$facebook-icon-big: (0px, 360px, 0px, -360px, 18px, 39px, 142px, 24535px, '../img/icons/sprite.png', 'facebook-icon-big', );
$insta-icon-big-name: 'insta-icon-big';
$insta-icon-big-x: 0px;
$insta-icon-big-y: 274px;
$insta-icon-big-offset-x: 0px;
$insta-icon-big-offset-y: -274px;
$insta-icon-big-width: 36px;
$insta-icon-big-height: 36px;
$insta-icon-big-total-width: 142px;
$insta-icon-big-total-height: 24535px;
$insta-icon-big-image: '../img/icons/sprite.png';
$insta-icon-big: (0px, 274px, 0px, -274px, 36px, 36px, 142px, 24535px, '../img/icons/sprite.png', 'insta-icon-big', );
$login-name: 'login';
$login-x: 0px;
$login-y: 65px;
$login-offset-x: 0px;
$login-offset-y: -65px;
$login-width: 16px;
$login-height: 16px;
$login-total-width: 142px;
$login-total-height: 24535px;
$login-image: '../img/icons/sprite.png';
$login: (0px, 65px, 0px, -65px, 16px, 16px, 142px, 24535px, '../img/icons/sprite.png', 'login', );
$sprite-name: 'sprite';
$sprite-x: 0px;
$sprite-y: 745px;
$sprite-offset-x: 0px;
$sprite-offset-y: -745px;
$sprite-width: 142px;
$sprite-height: 23790px;
$sprite-total-width: 142px;
$sprite-total-height: 24535px;
$sprite-image: '../img/icons/sprite.png';
$sprite: (0px, 745px, 0px, -745px, 142px, 23790px, 142px, 24535px, '../img/icons/sprite.png', 'sprite', );
$user-input-locked-name: 'user-input-locked';
$user-input-locked-x: 0px;
$user-input-locked-y: 131px;
$user-input-locked-offset-x: 0px;
$user-input-locked-offset-y: -131px;
$user-input-locked-width: 15px;
$user-input-locked-height: 17px;
$user-input-locked-total-width: 142px;
$user-input-locked-total-height: 24535px;
$user-input-locked-image: '../img/icons/sprite.png';
$user-input-locked: (0px, 131px, 0px, -131px, 15px, 17px, 142px, 24535px, '../img/icons/sprite.png', 'user-input-locked', );
$user-input-login-name: 'user-input-login';
$user-input-login-x: 0px;
$user-input-login-y: 0px;
$user-input-login-offset-x: 0px;
$user-input-login-offset-y: 0px;
$user-input-login-width: 15px;
$user-input-login-height: 15px;
$user-input-login-total-width: 142px;
$user-input-login-total-height: 24535px;
$user-input-login-image: '../img/icons/sprite.png';
$user-input-login: (0px, 0px, 0px, 0px, 15px, 15px, 142px, 24535px, '../img/icons/sprite.png', 'user-input-login', );
$vk-icon-big-name: 'vk-icon-big';
$vk-icon-big-x: 0px;
$vk-icon-big-y: 198px;
$vk-icon-big-offset-x: 0px;
$vk-icon-big-offset-y: -198px;
$vk-icon-big-width: 23px;
$vk-icon-big-height: 26px;
$vk-icon-big-total-width: 142px;
$vk-icon-big-total-height: 24535px;
$vk-icon-big-image: '../img/icons/sprite.png';
$vk-icon-big: (0px, 198px, 0px, -198px, 23px, 26px, 142px, 24535px, '../img/icons/sprite.png', 'vk-icon-big', );
$spritesheet-width: 142px;
$spritesheet-height: 24535px;
$spritesheet-image: '../img/icons/sprite.png';
$spritesheet-sprites: ($clock-desktop, $clock, $facebook-icon-big, $insta-icon-big, $login, $sprite, $user-input-locked, $user-input-login, $vk-icon-big, );
$spritesheet: (142px, 24535px, '../img/icons/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
