.stats {
  box-sizing: border-box;
  min-width: 320px;
  height: 540px;
  background-color: #242424;
  color: #fff;
}

.stats__header {
  color: #000;
  background-color: #fff;
  padding: 28px 0;
  height: 183px;
  box-sizing: border-box;
}

.stats__slogan {
  margin: 0 auto;
  margin: 0 60px 20px;
  display: block;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .stats__legend--top {
    display: none;
  }
}

.stats__intro {
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  margin: 0 37px;
}

.stats__items {
  width: 100%;
  background-color: #242424;
  border-collapse: collapse;
}
.stats__items tr:nth-child(1),
.stats__items tr:nth-child(4){
  background-color: #404040;
}
.stats__items tr:nth-child(2){
  background-color: #4e4e4e;
}
.stats__items tr:nth-child(3){
  background-color: #353535;
}
.stats__items .stats__value {
  text-align: left;
  box-sizing: border-box;
  height: 78px;
  padding: 18px 0 18px 20px;
  font-size: 34px;
  line-height: 34px;
}
.stats__items .stats__field {
  box-sizing: border-box;
  height: 78px;
  text-align: right;
  font-size: 18px;
  line-height: 18px;
  padding: 18px 20px 18px 0;
}

.stats__legend--bottom {
  margin-left: 50px;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}

@media (min-width: 768px) {
  .stats__header {
    padding: 30px 80px 40px 40px;
    height: 185px;
    width: 640px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: -185px;
    background-color: #fff;
    position: relative;
    z-index: 1;
    &::before {
      position: absolute;
      content: "";
      top: 35px;
      left: -24px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 24px 24px 0 24px;
      border-color: #ffffff transparent transparent transparent;
    }
  }
  .stats {
    background-color: #353535;
  }
  .stats__slogan {
    text-align: left;
    margin: 0;
    box-sizing: border-box;
    width: 50%;
    text-transform: none;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
  }
  .stats__header .stats__intro {
    text-align: left;
    padding-left: 55px;
    margin: 0;
    box-sizing: border-box;
    width: 50%;
  }
  .stats__legend--top {
    color: #b2b2b2;
    margin-right: auto;
  }
  .stats__legend--bottom {
    display: none;
  }
  .stats__items {
    margin: 0 auto;
    box-sizing: border-box;
    width: 640px;
  }
  .stats__items tbody {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 640px;
  }
  .stats__items tr {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
  }
  .stats__items .stats__value {
    display: block;
    padding-bottom: 0;
    box-sizing: border-box;
    font-size: 55px;
    line-height: 55px;
    width: 320px;
  }

  .stats__items .stats__field {
    display: block;
    padding: 5px 20px 18px;
    box-sizing: border-box;
    text-align: left;
    width: 320px;
    color: #f7f4f1;
  }
  .stats__field br {
    display: none;
  }
}

@media (min-width: 1200px) {
  .stats {
    width: 960px;
    height: 320px;
    margin: 0 auto;
    display: flex;
    margin-top: -158px;
  }
  .stats__header {
    box-sizing: border-box;
    width: 320px;
    height: 320px;
    margin-top:0;
    display: flex;
    flex-direction: row;
    padding: 0 50px;
  }
  .stats__header .stats__slogan {
    box-sizing: border-box;
    width: 220px;
  }
  .stats__header .stats__intro {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-left: 0;
  }
  .stats__header .stats__slogan br {
    display: none;
  }
  .stats__items {
    display: flex;
  }

  .stats__items .stats__value {
    display: block;
    vertical-align: baseline;
    font-size: 70px;
    padding: 0;
    padding: 40px 0 0 35px;
    height: 105px;
    box-sizing: border-box;
  }
  .stats__items .stats__field {
    padding: 0 40px;
    height: 52px;
    box-sizing: border-box;
  }
}