body {
  color: #f7f4f1;
  font-size: 18px;
  line-height: 27px;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  background-color: #353535;
}
img {
  max-width: 100%;
  height: auto;
}
@import "normalize";
@import "scafolding";
@import "btn";
@import "slider";
@import "main-header";
@import "page-header";
@import "main-nav";
@import "stats";
@import "advantages";
@import "news";
@import "reviews";
@import "page-footer";
